<div class="row">
  <div class="col-md-9">
    <h1>Hi, I'm Haven</h1>
    <p>
    I am a software developer (soon to be) residing in the Bay Area.  I am interested in (cliche alert) unlocking the 
    power big data, using data in new and interesting ways and creating novel, valuable and engaging data interaction and visualization.  
    I am largely self taught and have experience working on a variety of products focused primarily on the animal health and veterinary industries. 
    This included work with electronic health records, invoicing and production information, diagnostic lab data, goverment and NGO reporting data, which 
    was used for a variety of purposes including visualizing the spread of disease geographically, tracking the antibiotic resistance and building tools 
    to aid in diagnositic and treatment decision making.  Additionally I architected and implemented a suite of genomics and 
    bioinformatics tools for discovering phenotype-genotype correlations using statistical methods.
    </p>
    <p>
    In 2014 I cofounded Rex Animal Health with Amado Guloy in Houston Texas.  The original concept was a suite of veterinary
    practice service tools such as locating veterinarians within an the area, comparing the pricing both locally and nationally
    and easily scheduling an appointment.  In March of 2015 the company was accepted into the 2015 Sprint Accelerator (Techstars) 
    in Kansas City, Missouri. While at the accelerator, the company pivoted to the current model of aggregating, standardizing and making 
    easy to access information in the highly fragmented and Animal Health space.  Our primary customer segments were the animal producers 
    and the pharmaceutical industry. In early 2016 the company began building out a suite of tools for doing direct genomic analysis of animals 
    to complement this platform.
    </p> 
    <p>
    Prior to cofounding Rex, I worked in Intellectual Property writing software patents for just over a year.  Before that I attended the University of
    Michigan, majoring in Computer Engineering. My primary focus in school was low level systems including compilers, operating systems and architecture.
    While in college I was a four year member of the Men's Rowing Team.
    </p>
    <p>
    Professionally, I am interested in working in a dynamic and stimulating team-based environment that lets me solve interesting and challenging problems,
    create cool stuff, and learn from intelligent, experienced and creative people. In my somewhat limited free time I mostly read genre fiction (of varying
    quality) and occaisionally teach myself useless skills.  I can juggle (poorly), solve a Rubik's Cube (slowly), and whistle five different ways. I'm also extremely good 
    at bar trivia (references available on request).
    </p>
  </div>
  <div class="col-md-3">
    <img src="assets/img/profile.jpg" width=100% style="border-radius: 25px; overflow: hidden; margin-top: 20px">

  <div class="row">
    <div style="color: #999; font-size: 26px"><center>
      <a style="padding: 0 4px; cursor: pointer; color: #999;" class="fa fa-facebook" href="https://www.facebook.com/g.haven.moore"></a>
      <a style="padding: 0 4px; cursor: pointer; color: #999;" class="fa fa-twitter" href="https://twitter.com/QuothTheHaven"></a>
      <a style="padding: 0 4px; cursor: pointer; color: #999;" class="fa fa-google" href="https://plus.google.com/+HavenMoore"></a>
      <a style="padding: 0 4px; cursor: pointer; color: #999;" class="fa fa-linkedin" href="https://www.linkedin.com/in/havenmoore"></a>
      <a style="padding: 0 4px; cursor: pointer; color: #999;" class="fa fa-instagram" href="https://www.instagram.com/quoththehaven"></a>
    <!--  <a style="padding: 0 4px; cursor: pointer; color: #999;" class="fa fa-github"></a>-->
      <a style="padding: 0 4px; cursor: pointer; color: #999;" class="fa fa-angellist" href="https://angel.co/haven-moore"></a>
    </center></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div style="padding-left: 10px">
      <h5 style="font-size: 18px; position: relative; color: #999;">
        <span style="font-size: 26px" class="fa fa-phone"></span>
        <span style="padding-left: 17px; position: absolute; top: 3px; font-weight: normal">517.745.4947</span>
      </h5>
      <h5 style="font-size: 18px; position: relative; color: #999;">
        <span style="font-size: 26px;" class="fa fa-envelope"></span>
        <span style="padding-left: 10px; position: absolute; top: 3px; font-weight: normal">haven.moore@gmail.com</span>
      </h5>
      </div>
    </div>
  </div>

</div>
