<div class="row">
  <div class="col-md-9">
    <h1>{{bio.header}}</h1>
    <p ng-repeat="paragraph in bio.body">{{paragraph}}</p>
  </div>
  <div class="col-md-3">
    <img src="assets/img/profile.jpg" width=100% class="home-image">
    <div class="row contact-row">
      <div class="col-xs-2">
        <a class="fa fa-facebook contact-icon" href="https://www.facebook.com/g.haven.moore"></a>
      </div>
      <div class="col-xs-2">
        <a class="fa fa-twitter contact-icon" href="https://twitter.com/QuothTheHaven"></a>
      </div>
      <div class="col-xs-2">
        <a class="fa fa-google contact-icon" href="https://plus.google.com/+HavenMoore"></a>
      </div>
      <div class="col-xs-2">
        <a class="fa fa-linkedin contact-icon" href="https://www.linkedin.com/in/havenmoore"></a>
      </div>
      <div class="col-xs-2">
        <a class="fa fa-github contact-icon" href="https://www.github.com/havenmoore"></a>
      </div>
      <div class="col-xs-2">
        <a class="fa fa-angellist contact-icon" href="https://angel.co/haven-moore"></a>
      </div>
    </div>
    <div class="row contact-row">
      <div class="col-md-12">
        <span class="fa fa-phone contact-icon"></span>
        <span class="contact-text">517.745.4947</span>
      </div>
    </div>
    <div class="row contact-row">
      <div class="col-md-12">
        <span class="fa fa-envelope contact-icon"></span>
        <span class="contact-text">haven.moore@gmail.com</span>
      </div>
    </div>
  </div>
</div>
