<h3 style="color: grey">Professional</h3>

<h4 style="border-bottom: 1px solid gainsboro;"><b>Animal Health Data Platform</b></h4>
<h5><i>AngularJS, Flask (Python), MongoDB, Bootstrap, NVD3.js</i><i class="pull-right">April 2015 - April 2016</i></h5>
<div class="row">
  <div class="col-md-10">
    <ul>
      <li>Architected and implemented data ETL, modeling and visualization of a wide variety of data points from numerous sources, as well as UI/UX, and both client- and server-side code</li>
      <li>Incidence and Prevalence module capable of granular visualization of hundreds of thousands of disease events worldwide spanning dozens of species and diseases</li>
      <li>Therapeutic decision support tool processing tens of thousands of clinical results for animals and allowing faster and more accurate treatment decisions to be made</li>
      <li>First of it’s kind antibacterial resistance tracking tool, granular to farm level, with visualization of the advance of antibacterial resistance over time and by pathogen</li>
    </ul>
  </div>
</div>
<h4 style="border-bottom: 1px solid gainsboro;"><b>PheGe</b></h4>
<h5><i>AngularJS, Flask (Python), Biopython, Bootstrap</i><i class="pull-right">January 2016 - April 2016</i></h5>
<div class="row">
  <div class="col-md-10">
    <ul>
      <li>Architected and implemented suite of bioinformatics and genomics analysis tools, including project and data management, initial UI/UX work</li>
      <li>tools include phenotype-genotype correlation and pathway prediction via statistical methods</li>
      <li>metabolic pathway and geospatial phylogeny visualization</li>
      <li>manage team of four people (three developers, one designer)</li>
    </ul>
  </div>
</div>
<h4 style="border-bottom: 1px solid gainsboro;"><b>Veterinary Practice Tools Suite</b></h4>
<h5><i>Django, Backbone.js, PostgreSQL, Sass, Handlebars</i><i class="pull-right">March 2014 - April 2015</i></h5>
<div class="row">
  <div class="col-md-9">
    <ul>
      <li>Search for Veterinary Clinics by price, distance and services offered</li>
      <li>easy scheduling for customers and easy management of calendars</li>
      <li>comparison of pricing schedules nationally and by region</li> 
    </ul>
  </div>
</div>

<h3 style="color: grey">Personal</h3>
<h4 style="border-bottom: 1px solid gainsboro;"><b>This Website</b></h4>
<h5><i>AngularJS, Bootstrap</i><i class="pull-right">April 2016 - Present</i></h5>
<div class="row">
  <div class="col-md-10">
    <ul>
      <li>A quick personal website thrown together with angular and bootstrap.  Angular is probably overkill for the 
      current iteration but I have plans to implement some more interesting features moving forward and it gives 
      me a good platform to play around with angular concepts and tools.</li>
    </ul>
  </div>
</div>

<h3 style="color: grey">Academic Coursework</h3>
<h4 style="border-bottom: 1px solid gainsboro;"><b>Advanced Compilers</b></h4>
<h5><i >EECS 583 (Major Design Experience)</i><i class="pull-right">Fall 2011</i></h5>
<ul>
  <li>Operations, Branching and Memory Analysis Pass (C++, LLVM)</li>
  <li>Loop-Invariant Code Motion (C++, LLVM)</li>
  <li>Power Optimization for ARM Cortex M3 Architecture (C++, LLVM, ARM)</li>
</ul>
<h4 style="border-bottom: 1px solid gainsboro;"><b>Compiler Construction</b></h4>
<h5><i >EECS 483 (Major Design Experience)</i><i class="pull-right">Spring 2010</i></h5>
<ul>
  <li>Parsing (C++, Decaf, Lex, Flex)</li>
  <li>Semantics Analysis (C++, Decaf, Yacc, Bison)</li>
  <li>Abstract Syntax Tree (AST) Generation (C++, Decaf)</li>
  <li>Code Generation (C++, Decaf, MIPS)</li>
  <li>Optimization (Dead Code Elimination, Constant Folding & Propagation, Register Allocation) (C++)</li>
</ul>
<h4 style="border-bottom: 1px solid gainsboro;"><b>Operating Systems</b></h4>
<h5><i >EECS 482</i><i class="pull-right">Fall 2010</i></h5>
<ul>
  <li>Thread Library and Disk Scheduler(C++)</li>
  <li>Memory Pager (C++)</li>
  <li>Concurrent File Server (C++, Posix Threads, Berkeley Sockets APIs)</li>
</ul>
<h4 style="border-bottom: 1px solid gainsboro;"><b>Networks</b></h4>
<h5><i >EECS 489</i><i class="pull-right">Spring 2011</i></h5>
<ul>
  <li>Instant Messenger (C++, Berkeley Sockets API)</li>
  <li>HTTP Proxy (C++, Berkeley Sockets API, Stanford VNS, HTTP)</li>
  <li>Internet Router (C++, Berkeley Sockets API, Stanford VNS, IP, ICMP, ARP)</li>
</ul>
<h4 style="border-bottom: 1px solid gainsboro;"><b>User Interface</b></h4>
<h5><i >EECS 493</i><i class="pull-right">Spring 2011</i></h5>
<ul>
  <li>Rudimentary Web Browser (C++, Qt4, XML)</li>
  <li>Connect 4, with competitive AI (C++, Qt4)</li>
</ul>
<h4 style="border-bottom: 1px solid gainsboro;"><b>Cryptography</b></h4>
<h5><i >EECS 475</i><i class="pull-right">Fall 2010</i></h5>
<ul>
  <li>Elliptical Curve Cryptosystem (C++)</li>
</ul>
<h4 style="border-bottom: 1px solid gainsboro;"><b>Microprocessor Based Systems</b></h4>
<h5><i >EECS 373</i><i class="pull-right">Fall 2011</i></h5>
<ul>
  <li>ARM Cortex M3 Simulator (Class Collaboration) (C, GCC ARM toolchains)</li>
  <li>Positionally Aware Autonomous/RC Vehicles (ARM, I2C, UART, SPI)</li>
</ul>