<h3 class="grey">Skills</h3>
<div ng-repeat="skillset in skillsets">
  <h4><b>{{skillset.skillset}}</b></h4>
  <div class="row" class="resume-skill-block">
    <div class="col-md-4 col-sm-6" ng-repeat="skill in skillset.skills">
      <p>{{skill.skill}} <i ng-class="skill.proficiency">{{skill.proficiency}}</i></p>
    </div>
  </div>
</div>
<h3 class="grey">Work Experience</h3>
<div ng-repeat="job in jobs">
  <h4><b><a href="{{job.website}}">{{job.company}}</a></b></h4>
  <h5>{{job.role}}<i class="pull-right">{{job.start_date}} - {{job.end_date}}</i></h5>
  <div class="row">
    <div class="col-md-10">
      <ul>
        <li ng-repeat="detail in job.details"><p>{{detail}}</p></li>
      </ul>
    </div>
  </div>
</div>
<h3 class="grey">Education</h3>
<h4><b>{{education.college}}</b></h4>
<h5>{{education.degree}}<i class="pull-right">{{education.start_date}} - {{education.end_date}}</i></h5>

<h3 class="grey">References</h3>
<h5><i>Available on request</i></h5>
