<h3 style="color: grey">Skills</h3>
<h4 style="border-bottom: 1px solid gainsboro;"><b>Languages</b></h4>
<div class="row" style="padding-left: 20px">
  <div class="col-md-4">
    <p>Python <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">
    <p>Javascript <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">
    <p>C <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">
    <p>C++ <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">
    <p>HTML <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">
    <p>CSS <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">
    <p>Sass <i style="color: darkblue">Familiar</i></p>
  </div>
  <div class="col-md-4">
    <p>Assembly (MIPS, ARM) <i style="color: darkblue">Familiar</i></p>
  </div> 
</div>

<h4 style="border-bottom: 1px solid gainsboro;"><b>Web Development</b></h4>
<div class="row" style="padding-left: 20px">
  <div class="col-md-4">
    <p>AngularJS <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">
    <p>Backbone.js <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">
    <p>Flask <i style="color: darkred">Experienced</i></p> 
  </div>
  <div class="col-md-4">
    <p>Twitter Bootstrap <i style="color: darkred">Experienced</i></p>  
  </div>
  <div class="col-md-4">
    <p>Nginx <i style="color: darkred">Experienced</i></p> 
  </div>
  <div class="col-md-4">
    <p>jQuery <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">
    <p>Django <i style="color: darkmagenta">Proficient</i></p> 
  </div>
  <div class="col-md-4">
    <p>D3.js <i style="color: darkblue">Familiar</i></p>
  </div>
  <div class="col-md-4">
    <p>Node.js <i style="color: darkblue">Familiar</i></p>
  </div>
  <div class="col-md-4">
    <p>hapi.js <i style="color: darkblue">Familiar</i></p>
  </div>
</div>

<h4 style="border-bottom: 1px solid gainsboro;"><b>Database and ORMs</b></h4>
<div class="row" style="padding-left: 20px">
  <div class="col-md-4">
    <p>MongoDB <i style="color: darkred">Experience</i></p>
  </div>
  <div class="col-md-4">
    <p>PostgreSQL <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">
    <p>SQLite <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">
    <p>PyMongo <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">
    <p>MySQL <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">
    <p>Django ORM <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">
    <p>SQLAlchemy <i style="color: darkblue">Familiar</i></p>
  </div>
  <div class="col-md-4">
    <p>mongoose <i style="color: darkblue">Familiar</i></p>
  </div>
</div>

<h4 style="border-bottom: 1px solid gainsboro;"><b>Environments / DevOps</b></h4>
<div class="row" style="padding-left: 20px">
  <div class="col-md-4">
    <p>Unix &amp; Linux <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">
    <p>Amazon Web Services <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">         
    <p>Gulp <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">        
    <p>Git <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">        
    <p>Vagrant <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">         
    <p>Ansible <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">        
    <p>SVN <i style="color: darkmagenta">Proficient</i></p> 
  </div>
</div>
<h4 style="border-bottom: 1px solid gainsboro;"><b>Miscellaneous</b></h4>
<div class="row" style="padding-left: 20px">
  <div class="col-md-4">       
    <p>gcc <i style="color: darkred">Experienced</i></p>
  </div>
  <div class="col-md-4">  
    <p>LLVM <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">         
    <p>ARM toolchains <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">    
    <p>MATLAB <i style="color: darkmagenta">Proficient</i></p>
  </div> 
  <div class="col-md-4">     
    <p>Microsoft Excel <i style="color: darkmagenta">Proficient</i></p>
  </div>
  <div class="col-md-4">
    <p>Biopython <i style="color: darkblue">Familiar</i></p>
  </div>
  <div class="col-md-4">     
    <p>Verilog <i style="color: darkblue">Familiar</i></p>
  </div>
  <div class="col-md-4">        
    <p>Libero IDE <i style="color: darkblue">Familiar</i></p>
  </div>
  <div class="col-md-4">         
    <p>Actel SoftConsole <i style="color: darkblue">Familiar</i></p>
  </div>
  <div class="col-md-4">  
    <p>Actel SmartFusion <i style="color: darkblue">Familiar</i></p>
  </div>
  <div class="col-md-4">     
    <p>Maple <i style="color: darkblue">Familiar</i></p>
  </div>

</div>
<h3 style="color: grey">Work Experience</h3>
<h4 style="border-bottom: 1px solid gainsboro"><b>Rex Animal Health</b></h4>

<h5><i >CoFounder, CTO, Software Developer</i><i class="pull-right">March 2014 - April 2016</i></h5>
<div class="row">
  <ul>
    <li><p>Cofounded company in March of 2015.  Grew from 2 founders to 6 employees, 2 million in revenue in 2015</p></li>
    <li><p>Responsible for variety of technical tasks included data analysis, data modeling, ETL, DevOps, design work, architecture and implementation of frontend and backend code for web application.</p></li>
    <li><p>Manage a team of 3 developers (including self) and one designer to analyze available data and resources, implement, and iterate on multiple platforms</p></li>
    <li><p>Techstars Alumni (Sprint Accelerator, 2015)</p></li>
  </ul>
</div>
<h4 style="border-bottom: 1px solid gainsboro"><b>Osha Liang LLP</b></h4>
<h5><i>Patent Engineer</i><i class="pull-right">June 2012 - August 2013</i></h5>
<div class="row">
  <ul>
    <li><p>Work with inventors and in-house counsel at various software and computer technology companies to draft patent applications</p></li>
    <li><p>Work with the USPTO to advance the prosecution of patent applications</p></li>
    <li><p>Heavy emphasis on technical writing and communication, as well as the ability to understand and concisely explain complex software and technology concepts</p></li>
  </ul>
</div>
<h3 style="color: grey">Education</h3>
<h4 style="border-bottom: 1px solid gainsboro;"><b>University of Michigan</b></h4>
<h5><i>BSE Computer Engineering, 2011</i><i class="pull-right">September 2007 - December 2011</i></h5>

<h3 style="border-bottom: 1px solid lightgrey; color: grey">References</h3>
<h5><i>Available on request</i></h5>

